#reel {
    padding: 2% 7%;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    color: #EF6D58;
}

.text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #391400;


}

#content {
    padding: 2% 7%;
    display: grid;
    gap: 1rem;
    grid-column-gap: 0;
}

@media (min-width: 600px) {
    #content {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 900px) {
    #content {
        grid-template-columns: repeat(3, 1fr);
    }
}



.box {
    display: grid;
    padding: 5%;
    display: inline-block;
    border: 1px solid #F3D1BF;
}

.head1 {

    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 1px;
    color: #391400;
}

.para {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
}

.end1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 16px;
    color: #391400;

}
